jieba==0.39
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyter-echarts-pypkg==0.1.2
jupyterlab==0.31.4
jupyterlab-launcher==0.10.2
lxml==4.1.1
matplotlib==2.2.2
numpy==1.15.0
numpydoc==0.7.0
pandas==0.22.0
pandocfilters==1.4.2
pyecharts==0.5.11
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pyecharts-snapshot==0.1.10
PyMySQL==0.9.3